* {
    margin: 0;
    padding: 0;
}

body {
    background-image:url(fon1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}

body > p {
    border: 5px solid #000;
    float: left;
    width: 450px;
    font-family: 'Monotype Corsiva';
    padding: 3%;
    font-size: 24px;
    margin-left: 20px;
    background-color: #fff;    
}

.header {
    font-family: 'Monotype Corsiva';
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 15px;
}

.leftimage {
    margin-left: 15px;
    float: left;
}