* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(fon2.jpg);
    background-repeat: no-repeat repeat;
    background-size: 100%;
}

body > p {
    border: 5px solid gray;
    float: left;
    width: 450px;
    font-family: 'Monotype Corsiva';
    padding: 3%;
    font-size: 24px;
    margin-left: 20px;
    background-color: white;
    outline: solid 6px #ffa500;
}

.header {
    font-family: 'Arial';
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    padding-bottom: 15px;
}

.rightimage {
    margin-left: 20px;
    float: left;
}